/*
|------------------------------------------------------------
| Buttons
|------------------------------------------------------------
*/

%reset-btn {
    @include appearance(none);
    border: 0;
    margin: 0;
    padding: 0;
}

%btn {
    @extend %reset-btn;
    display: inline-block;
}

.btn-small {
    width: 25%;
}

.btn-medium {
    width: 50%;
}

.btn-big {
    width: 75%;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-default {
    @extend %btn;
}

.big-link {
    display: inline-block;
    margin-right: 1em;
    padding: 1em 1.5em;
    line-height: 1;
    text-transform: uppercase;
    color: $background-color;
    background: $text-color;
    border: none;
    @extend %main-font-bold;

    &:hover {
        background: $big-link-hover;
    }

    &:active, &:focus {
        outline: none;
    }

    @include breakpoint(tablet) {
        @include rem(0.7);
        padding: 1em;
    }

    @include breakpoint(870px) {
        padding: 1em 0.8em;
        margin-right: 0.5em;
    }

    @include breakpoint(775px) {
        margin-right: 0.3em;
    }

    &.add-bag {
        padding: 1em 2.5em;
    }
}

.small-lnk {
    display: inline-block;
    background: $small-lnk;
    padding: 1em;

    &:hover {
        background: $small-lnk-hover;

        i {
            opacity: 0.5;
        }
    }

    &:active {
        background: $small-lnk;

        i {
            opacity: 0.5;
        }
    }
}