/*
|------------------------------------------------------------
| Forms
|------------------------------------------------------------
*/

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"] {}

.basic-form {
	display: block;
	width: 100%;
	margin: 0.5em 0;

	input {
		width: 100%;
		padding: 1em;
		border: 1px solid $border-color;

		&:focus {
			border: 1px solid $border-color-dark;
			outline: $border-color-dark;
		}
	}
}

.error-message {

	input {
		&:focus, &:active {
			border: 1px solid $red;
		}
	}

	.error {
		color: $red;
	}
}