/*
|------------------------------------------------------------
| Grid
|------------------------------------------------------------
*/

%col {
    display: inline-block;
    @include rem(1);
}

%row {
    font-size: 0;
    margin-top: 10px;
}

@mixin col ($col, $sum, $gap: 2.5%) {
    @extend %col;

    /**
     * Calculating all margins that will be used in one line
     * 1 is subtracted because there will be no margin on first block
     */
    $total-margin: ($sum - 1) * $gap;

    /**
     * Width of the column, margin is subtracted so we get the proper results
     */
    $one-block-width: ($col / $sum) * (100% - $total-margin);

    /**
     * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
     * would exist if there would be only 1 column so we get the proper width of the column
     */
    $middle-margin: ($col - 1) * $gap;

    $width: $one-block-width  + $middle-margin;

    margin-left: $gap;
    vertical-align: top;

    width: $width;

    /**
     * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
     */
    &:first-child, &:nth-child(#{$sum}n + 1) {
        margin-left: 0;
    }

    @include breakpoint(phone) {
        display: block;
        width: 95%;
        margin: 0.5em auto;

        &:first-child, &:nth-child(#{$sum}n + 1) {
            margin: 0.5em auto;
        }
    }

    &.vertical-middle {
        vertical-align: middle;
    }
}

.row { @extend %row; }

.col-1-2 { @include col(1, 2); }

.col-1-3 { @include col(1, 3); }
.col-2-3 { @include col(2, 3); }

.col-1-4 { @include col(1, 4); }
.col-2-4 { @include col(2, 4); }
.col-3-4 { @include col(3, 4); }

.col-1-5 { @include col(1, 5); }
.col-2-5 { @include col(2, 5); }
.col-3-5 { @include col(3, 5); }
.col-4-5 { @include col(4, 5); }

.col-1-6 { @include col(1, 6); }
.col-2-6 { @include col(2, 6); }
.col-3-6 { @include col(3, 6); }
.col-4-6 { @include col(4, 6); }
.col-5-6 { @include col(5, 6); }

.col-1-7 { @include col(1, 7); }
.col-2-7 { @include col(2, 7); }
.col-3-7 { @include col(3, 7); }
.col-4-7 { @include col(4, 7); }
.col-5-7 { @include col(5, 7); }
.col-6-7 { @include col(6, 7); }

.col-1-8 { @include col(1, 8); }
.col-2-8 { @include col(2, 8); }
.col-3-8 { @include col(3, 8); }
.col-4-8 { @include col(4, 8); }
.col-5-8 { @include col(5, 8); }
.col-6-8 { @include col(6, 8); }
.col-7-8 { @include col(7, 8); }

.col-1-9 { @include col(1, 9); }
.col-2-9 { @include col(2, 9); }
.col-3-9 { @include col(3, 9); }
.col-4-9 { @include col(4, 9); }
.col-5-9 { @include col(5, 9); }
.col-6-9 { @include col(6, 9); }
.col-7-9 { @include col(7, 9); }
.col-8-9 { @include col(8, 9); }