/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/

// Vertical rhythm
$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;

// Dimensions
$container-width: 960px;
$max-height: 550px;
$max-width: 1440px;
$hot-pick-max: 500px;
$wide-max: 300px;
$wide-max-phone: 500px;
$social-size: 20px; // width (and height) of social icons

// Dropdown width
$col-width: 16%;

// Sprites
$icons: sprite-map("icons/*.png", $spacing: 5px);
$social: sprite-map("icons/social/*.png", $spacing: 5px);

// Colors
$background-color: #FCFBF9;
$text-color: #002D47;
$text-color-dark: #001D2D;
$gray-color: #999;
$light-gray: #E4E2DE;
$border-color: #DDDAD6;
$border-color-dark: #B6B6B6;
$big-link-hover: #001D2D;
$small-lnk: #58799D;
$small-lnk-hover: #3D546E;

$red: #E6536D;
$blue: #0B324A;
// Gradients
%blue-gradient {
    background: $blue;
    @include background(linear-gradient(top, lighten($blue,20%), $blue));
}


// Border arrows variables
$border: 5px;
$color: #F00;