/*
|------------------------------------------------------------
| Input placeholder mixin
|------------------------------------------------------------
*/

@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}
