/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/

.chromeframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

// Smoother fonts
html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 16px;
    @extend %main-font;

    a {
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    }
}

*, *:before, *:after {
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

[placeholder]:focus::-webkit-input-placeholder {
    @include transition(text-indent 0.5s 0.5s ease);
    text-indent: -200%;
    @include opacity(1);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
