/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

@include font-face (
    "mostardesign_sofia_pro_regular",
    font-files("msofia/mostardesign_sofia_pro_regular.otf")
);

@include font-face (
    "mostardesign_sofia_pro_light",
    font-files("msofia/mostardesign_sofia_pro_light.otf")
);

@include font-face (
    "mostardesign_sofia_pro_medium",
    font-files("msofia/mostardesign_sofia_pro_medium.otf")
);

@include font-face (
    "mostardesign_sofia_pro_bold",
    font-files("msofia/mostardesign_sofia_pro_bold.otf")
);

// FLEXSLIDER
@include font-face (
    'flexslider-icon',
    font-files("flex/flexslider-icon.ttf",
        "flex/flexslider-icon.woff",
        "flex/flexslider-icon.svg"),
    "flex/flexslider-icon.eot",
    "flex/flexslider-icon.eot?#iefix"
);

// TEMP
@include font-face (
    'FontAwesome',
    font-files("FontAwesome/fontawesome-webfont.ttf",
        "FontAwesome/fontawesome-webfont.woff",
        "FontAwesome/fontawesome-webfont.svg"),
    "FontAwesome/fontawesome-webfont.eot"
);

%main-font { font-family: "mostardesign_sofia_pro_regular"; }
%main-font-bold {	font-family: "mostardesign_sofia_pro_bold"; }
%main-font-medium { font-family: "mostardesign_sofia_pro_medium"; }
%main-font-light { font-family: "mostardesign_sofia_pro_light"; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }
%flexslider-font { font-family: 'flexslider-icon'; }

%awesome { font-family: "FontAwesome"; }