/*
|------------------------------------------------------------
| Functions
|------------------------------------------------------------
*/

@function calc-ems ($target, $container) {
    @return ($target / $container) * 1em;
}

@function calc-px ($value) {
    @return $value * $base-font-size;
}

@function percent ($target, $container) {
    @return ($target / $container) * 100%;
}

@function black ($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function white ($opacity) {
    @return rgba(255, 255, 255, $opacity);
}
