/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

%clearfix {
    *zoom:1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%hide-text {
    @include hide-text;
}

// Helper classes
.hide { display: none; }
.clear { clear: both; }
.block { display: block; }
.inline-block { display: inline-block; }
.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.padding { padding: 0.5em; }
.no-margin { margin: 0; }
.fixed { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.upper { text-transform: uppercase; }
.underline { text-decoration: underline; }
.strong { font-weight: bold; }
.vertical-middle { vertical-align: middle; }

$base-margin: 1em;
$base-padding: 1em;

// Margin helpers
.push-top-small { margin-top: $base-margin/2; }
.push-top { margin-top: $base-margin; }
.push-top-big { margin-top: $base-margin * 1.5; }
.push-top-large { margin-top: $base-margin * 2; }

.push-right-small { margin-right: $base-margin/2; }
.push-right { margin-right: $base-margin; }
.push-right-big { margin-right: $base-margin * 1.5; }
.push-right-large { margin-right: $base-margin * 2; }

.push-bottom-small { margin-bottom: $base-margin/2; }
.push-bottom { margin-bottom: $base-margin; }
.push-bottom-big { margin-bottom: $base-margin * 1.5; }
.push-bottom-large { margin-bottom: $base-margin * 2; }

.push-left-small { margin-left: $base-margin/2; }
.push-left { margin-left: $base-margin; }
.push-left-big { margin-left: $base-margin * 1.5; }
.push-left-large { margin-left: $base-margin * 2; }

// Padding helpers

.padd-top-small { padding-top: $base-padding/2; }
.padd-top { padding-top: $base-padding; }
.padd-top-big { padding-top: $base-padding * 1.5; }
.padd-top-large { padding-top: $base-padding * 2; }

.padd-right-small { padding-right: $base-padding/2; }
.padd-right { padding-right: $base-padding; }
.padd-right-big { padding-right: $base-padding * 1.5; }
.padd-right-large { padding-right: $base-padding * 2; }

.padd-bottom-small { padding-bottom: $base-padding/2; }
.padd-bottom { padding-bottom: $base-padding; }
.padd-bottom-big { padding-bottom: $base-padding * 1.5; }
.padd-bottom-large { padding-bottom: $base-padding * 2; }

.padd-left-small { padding-left: $base-padding/2; }
.padd-left { padding-left: $base-padding; }
.padd-left-big { padding-left: $base-padding * 1.5; }
.padd-left-large { padding-left: $base-padding * 2; }


.heart {
	display: inline-block;
	margin-right: 0.5em;
	background: transparent image-url("icons/heart.png") no-repeat center;
	width: image-width("icons/heart.png");
	height: image-height("icons/heart.png");

	&:hover {
		background: transparent image-url("icons/heart-hover.png") no-repeat center;
	}
}

.heart-w {
	display: block;
	background: transparent image-url("icons/heart-w.png") no-repeat center;
	width: image-width("icons/heart-w.png");
	height: image-height("icons/heart-w.png");
}

.share {
	display: block;
	background: transparent image-url("icons/share.png") no-repeat center;
	width: image-width("icons/share.png");
	height: image-height("icons/share.png");
}

.bag {
	display: inline-block;
	margin-right: 0.5em;
	margin-top: -3px;
	background: transparent image-url("icons/bag.png") no-repeat center;
	width: image-width("icons/bag.png");
	height: image-height("icons/bag.png");

	&:hover {
		background: transparent image-url("icons/bag-hover.png") no-repeat center;
	}
}

.bag-w {
	display: inline-block;
	margin-right: 0.5em;
	margin-top: -3px;
	background: transparent image-url("icons/bag-w.png") no-repeat center;
	width: image-width("icons/bag-w.png");
	height: image-height("icons/bag-w.png");
}

.glass {
	display: inline-block;
	vertical-align: top;
	margin-right: 0.5em;
	background: image-url("icons/search.png") no-repeat center;
	@include background-size(100% 100%);
	width: image-width("icons/search.png");
	height: image-height("icons/search.png");
}

.home {
	display: inline-block;
	background: image-url("icons/home.png") no-repeat center;
	@include background-size(100% 100%);
	width: image-width("icons/home.png");
	height: image-height("icons/home.png");
}

.placepin {
	display: inline-block;
	background: transparent image-url("icons/pin.png") no-repeat center;
	width: image-width("icons/pin.png");
	height: image-height("icons/pin.png");
	@include background-size(100% 100%);
	@extend %hide-text;
}

.bars {
	display: block;
	background: transparent image-url("icons/bars.png") no-repeat center;
	width: image-width("icons/bars.png");
	height: image-height("icons/bars.png");
	@include background-size(100% 100%);
}

// Link arrows
.lnk-r{
	display: inline-block;
	margin-left: 0.5em;
	background: transparent image-url("icons/arrow-right.png") no-repeat center;
	width: image-width("icons/arrow-right.png");
	height: image-height("icons/arrow-right.png");
	@include background-size(100% 100%);
}

.lnk-r-blue {
	display: inline-block;
	margin-left: 0.5em;
	background: transparent image-url("icons/arrow-right-blue.png") no-repeat center;
	width: image-width("icons/arrow-right-blue.png");
	height: image-height("icons/arrow-right-blue.png");
	@include background-size(100% 100%);
}

.lnk-r-red {
	display: inline-block;
	margin-left: 0.5em;
	background: transparent image-url("icons/arrow-right-red.png") no-repeat center;
	width: image-width("icons/arrow-right-red.png");
	height: image-height("icons/arrow-right-red.png");
	@include background-size(100% 100%);
}

.arrow-top {
	display: inline-block;
	background: image-url("icons/arrow-up.png") no-repeat center;
	width: image-width("icons/arrow-up.png");
	height: image-height("icons/arrow-up.png");
	@include background-size(100% 100%);
}

.arrow-down {
	display: inline-block;
	background: transparent image-url("icons/arrow-down.png") no-repeat center;
	width: image-width("icons/arrow-down.png");
	height: image-height("icons/arrow-down.png");
	@include background-size(100% 100%);
}

.arrow-down-b {
	display: inline-block;
	background: transparent image-url("icons/arrow-down-blue.png") no-repeat center;
	width: image-width("icons/arrow-down-blue.png");
	height: image-height("icons/arrow-down-blue.png");
	@include background-size(100% 100%);
}

.close {
	display: inline-block;
	background: transparent image-url("icons/close.png") no-repeat center;
	width: image-width("icons/close.png");
	height: image-height("icons/close.png");
	@include background-size(100% 100%);
}

.user {
	display: inline-block;
	margin-right: 0.5em;
	background: transparent image-url("icons/user.png") no-repeat center;
	width: image-width("icons/user.png");
	height: image-height("icons/user.png");
	@include background-size(100% 100%);
}

// Currency
.euro {
	font-style: normal;
	margin-right: 5px;
	&::before {
		content: "€";
	}
}

.dolar {
	font-style: normal;
	margin-right: 5px;
	&::before {
		content: "$";
	}
}

// Flags
.flag-nl {
	display: inline-block;
	margin-right: 0.3em;
	background: image-url("icons/flag-nl.jpg") no-repeat left center;
	width: image-width("icons/flag-nl.jpg");
	height: image-height("icons/flag-nl.jpg");
}

// Colors
.colors {
	display: inline-block;
	cursor: pointer;
	width: 13px;
	height: 13px;
	padding: 1px;
	@include border-radius(10em);
	vertical-align: middle !important;

	&:active {
		border: 1px solid $text-color;
	}

	& > span {
		width: 100%;
		height: 100%;
		display: block;
		@include border-radius(10em);
	}
}

.more-colors {
	cursor: pointer;
	display: inline-block;
}

.active-color {
	border: 1px solid $text-color;
}

.black {
	background: #000;
}

.lblue {
	background: #4082A7;
}

.green {
	background: #6BAF6B;
}

.purple {
	background: #5A6BA3;
}

.gray-orange {
	background: #C0B6AC;
}

.gray-purple {
	background: #90878C;
}

.gray {
	background: #7C756E;
}