/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/

// Bottom header items
#home {
	display: inline-block;
	margin-left: 3%;

	@include breakpoint(phone) {
		display: none;
	}
}

// Dropdown
.dropdown-container {
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 1.5em;

	@include breakpoint(phone) {
		display: none;
	}

	.drop-trigger {
		display: block;
		padding: 0;
		margin: 0;
		text-transform: lowercase;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		@extend %main-font-light;

		&:hover {
			@extend %main-font;
			border-bottom: 2px solid $text-color;
		}
	}
}

.dropdown {
	display: none;
	top: 100%;
	left: 1%;
	width: 98%;
	background: $background-color;
	color: $text-color;
	z-index: 10;
	text-align: left;
	padding: 1%;
	border-top: 1px solid $light-gray;
	@extend %row;
	margin: 0;

	& > div{
		display: inline-block;
	}

	.list-title {
		display: block;
		text-transform: lowercase;
		@include rem(1.3);
	}

	ul {
		display: block;
		padding: 0;
	}

	li {
		list-style: none;
		display: block;
	}

	a {
		display: block;
		color: $text-color;
		text-transform: lowercase;
	}

	figure {
		margin: 0;
		display: block;
		padding: 0.5em;
	}

	img {
		display: block;
	}

	.col-2-6 {
		li {
			display: inline-block;
			width: 49%;
		}
	}

	.drop-close {
		top: 0;
		right: 0;
		display: block;
		width: 3em;
		height: 2em;
		background: transparent;
		@include rem(1);
		outline: none;
		border: none;

	}

	.relative {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;

		& > div:last-child {
			margin-top: 2em; //same as .drop-close height
			margin-left: 0;
		}
	}

	.image {

		@include breakpoint(tablet-portrait) {
			display: none;
		}

		img {
			margin: 0 auto;
		}
	}
}

// Dropdown END

.stores {
	display: none;
	text-transform: lowercase;
	color: $text-color;
	border: none;
	background: $background-color;
	vertical-align: top;

	@include breakpoint(phone) {
		display: inline-block;
		width: 49%;
		height: 2em;
		text-align: left;
	}

	.placepin {
		margin-right: 0.5em;
		height: 27px;
		width: 17px;
	}
}

.search-trigger {
	float: right;
	border: none;
	background: $background-color;
	color: $text-color;
	vertical-align: top;

	&:hover {
		color: #000;

		.glass {
			background: image-url("icons/search-hover.png") no-repeat center;
			width: image-width("icons/search-hover.png");
			height: image-height("icons/search-hover.png");
		}
	}

	&:focus {
		outline: none;
	}

	@include breakpoint(phone) {
		width: 49%;
		height: 2em;
		border-left: 1px solid $border-color;
		text-align: left;
		padding-left: 1em;
	}
}

.search-block {
	display: none;
	@include rem(1);
	width: 100%;
	line-height: 1;
	margin: 1em 0 0.5em;
	text-align: center;

	form {
		display: block;
		height: 100%;
	}

	input {
		display: inline-block;
		width: 100%;
		height: 1.5em;
		@include rem(2);
		text-align: center;
		vertical-align: top;
		border-top: 2px solid $light-gray;
		border-bottom: 2px solid $light-gray;
		border-left: none;
		border-right: none;

		&:focus {
			box-shadow: none;
			outline: none;
		}

		@include breakpoint(phone) {
			padding: 0 1em;
			text-align: left;
		}
	}

	.results {
		display: block;

		span {
			display: block;

			&:hover {
				color: $text-color-dark;
			}
		}
	}

	.big-link {
		vertical-align: top;
		@include rem(1);
		height: 100%;
		color: $background-color;
		padding: 0 2em;
		top: 0;
		right: 2.6em;
		margin: 0;
	}

	.arrow-top {
		top: -9px;
		right: 1em;
	}

	.search-trigger {
		float: none;
		top: 2px;
		right: 13.5em;
		height: 2.7em;
		width: 3em;
		text-align: center;
		padding: 0;

		@include breakpoint(phone) {
			right: 11em;
		}
	}
}
// Bottom header items END