/*
|------------------------------------------------------------
| Container
|------------------------------------------------------------
*/

// Main site wrapper
	// Pushes to right when class 'open' added to wrapper
.site-wrapper {
	@include translate(0, 0);
	@include transition(transform 0.6s ease);

	&.open {
		@include translate(100%, 0);
	}
}

.main-container {
    @extend %clearfix;
    position: relative;
    color: $text-color;
    max-width: $max-width;
    margin: 0 auto;
    font-size: 0;

    * {
		vertical-align: top;
	}
}

.hot-pick {
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	@include rem(1);
	border-bottom: 1px solid $border-color;
	overflow: hidden;

	a {
		display: block;
		width: 100%;

		&:hover {
			figure {
				opacity: 1;
			}

			figcaption {
				color: darken(#FFF, 10%);
			}
		}
	}

	figure {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		max-height: $hot-pick-max;
		overflow: hidden;
		opacity: 0.8;
		@include transition(opacity 0.3s ease);
	}

	img {
		display: block;
		width: 100%;
	}

	figcaption {
		@include rem(4);
		color: #FFF;
		line-height: 1;
		text-align: center;
		text-transform: lowercase;
		@extend %main-font-medium;
		@include text-shadow(1px 1px 1px black(0.2));
		@include transition(color 0.3s ease);
	}

	.absolute {
		top: 50%;
		width: 100%;
		@include translate(0,-50%);
		z-index: 10;
	}
}

.wide {
	display: inline-block;
	margin: 0;
	height: $wide-max;
	border-top: 1px solid $border-color;
	padding-bottom: 1.5em;

	@include breakpoint(phone) {
		width: 100%;
		height: auto;
	}

	a {
		width: 49%;
		height: 100%;
		overflow: hidden;
		display: inline-block;

		@include breakpoint(phone) {
			width: 100%;
		}
	}

	figure {
		max-height: $wide-max;
		opacity: 1;

		@include breakpoint(phone) {
			max-height: $wide-max-phone;
		}
	}

	.info {
		width: 50%;
		height: 100%;
		display: inline-block;
		padding: 2em 1em 1em;
		color: $text-color;

		@include breakpoint(tablet) {
			@include rem(1);
			height: 80%;
			width: 49%;
			padding: 0.5em 1em;
		}

		@include breakpoint(phone) {
			width: 100%;
		}

		a {
			display: block;
			color: $text-color;
			width: 100%;
			height: auto;
		}

		h2 {
			margin: 0;
			font-weight: normal;
			@extend %main-font-medium;

			@include breakpoint(tablet) {
				@include rem(1);
			}
		}

		p {
			@extend %main-font-light;

			@include breakpoint(tablet) {
				@include rem(0.8);
			}
		}

		.more {
			top: auto;
			bottom: 0;
			@include rem(1);
			font-weight: bold;
			text-transform: uppercase;
			padding-top: 2px;
			line-height: 1;

			@include breakpoint(tablet) {
				@include rem(0.8);
			}

			@include breakpoint(phone) {
				position: relative;
				margin: 1.5em 0 0;
			}
		}
	}
}

.main-info {
	display: block;
	width: 100%;
	margin: 1em 0;
	text-align: center;
	@include rem(2);
	color: $text-color;
}

.basic {
	@include rem(1);
	margin: 2em auto;
	width: 80%;

	.row {
		margin-top: 50px;
	}
}

.price {
	cursor: pointer;
	color: $text-color;

	&:hover {
		color: #000;
	}

	.lnk-r-blue {
		margin-bottom: 1px;
		margin-left: 0;
		vertical-align: middle;
	}
}

.old-price {
	cursor: pointer;
	color: $text-color;
	text-decoration: line-through;
}

.new-price {
	cursor: pointer;
	color: $red;

	.lnk-r-red {
		margin-bottom: 1px;
		margin-left: 0;
		vertical-align: middle;
	}
}