/*
|------------------------------------------------------------
| Footer
|------------------------------------------------------------
*/

@import "icons/social/*.png";
@include all-social-sprites;

// Content footer elements
.content-footer {
	display: block;
	width: 100%;
	@include rem(1);
	margin: 2em 0 0;
	padding: 1em 2em;
	overflow: hidden;
	color: $text-color;

	p {
		margin: 0;
		text-align: left;
	}
}

.help {
	text-align: left;
	
	@include breakpoint(phone) {
		display: none;
	}

	a {
		display: block;
		color: $text-color;
		margin: 1em 0;
		font-weight: bold;
		text-transform: lowercase;

		&:hover {
			color: #000;
		}
	}
}

.email {
	text-align: center;
}

.shop-permalinks {
	display: block;
	width: 100%;
	margin-top: 1em;
}

.location {
	
	@include breakpoint(phone) {
		display: none;
	}

	.placepin {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}

	span {
		display: block;
		text-align: center;
	}

	.more {
		display: block;
		@include rem(1);
		text-align: center;
		margin-top: 3em;
		line-height: 1;
		color: $text-color;
		text-transform: uppercase;
		@extend %main-font-bold;
		
		span {
			display: inline-block;
			background: transparent image-url("icons/arrow-right-blue.png") no-repeat center right;
		}

		i {
			vertical-align: baseline;
		}
	}
}
// Content footer elements END

// Site footer elements
.site-footer {
	@include rem(1);
	margin: 1em 0 0;
	padding: 1em 1.5em;
	background: $text-color;
	color: $background-color
}

#copyright {
	display: inline-block;
	text-transform: lowercase;
	@extend %main-font-light;
}

.social-links {
	display: inline-block;
	float: right;
	a{
		display: inline-block;
		width: $social-size;
		height: $social-size;
		margin-right: 1.6em;
		@extend %hide-text;

		@include breakpoint(tablet-portrait) {
			margin-right: 1em;
		}

		@include breakpoint(phone) {
			margin-right: 0.5em;
		}
	}
}
// Site footer elements END