/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/

.site-header {
	display: block;
	width: 100%;
	@include rem(1);
	padding: 1em 0 0;
	background: $background-color;

	* {
		color: $text-color;
	}

	.top-header {
		display: block;
		width: 100%;
		position: relative;
		min-height: 2em;
		margin-bottom: 1em;
		padding: 0 1em;
		@extend %clearfix;

		@include breakpoint(phone) {
			width: 99%;
			margin: 0 auto;
			border-bottom: 1px solid $border-color;
		}
	}

	.bottom-header {
		display: block;
		width: 100%;
		position: relative;
		min-height: 2em;
		@extend %clearfix;

		@include breakpoint(phone) {
			padding: 0.5em 0;
		}
	}

	.fleft {
		a {
			display: inline-block;
		}
		@include breakpoint(phone) {
			display: none;
		}
	}
}

@import "top-header";
@import "bottom-header";

// Cart wrapper elements
.cart-wrapper {
	display: none;
	width: 100%;
	padding: 0 1em;
	margin-bottom: 1em;
}

// Cart trigger
.trigger {
	display: block;
	width: 100%;
	text-align: right;

	.cart-trigger {
		border: none;
		outline: none;
		vertical-align: top;
		background: $background-color;
		color: $text-color;
		padding: 1em;
		@extend %hide-text;
		background: image-url("icons/close.png") no-repeat center;
		// @include background-size(100% 100%);
		width: image-width('icons/close.png');
		height: image-height('icons/close.png');
	}
}
// Cart trigger END

// Cart details
.cart {
	display: block;
	width: 100%;
	padding: 1em 0 2em;
	border-bottom: 1px solid $border-color;
}

.cart-details {
	margin-bottom: 10px;

	figure {
		display: inline-block;
		width: 80px;
		height: 80px;
		margin: 0;
		padding: 0;
		text-align: center;
		vertical-align: top;
	}

	img {
		display: block;
		margin: 0 auto;
		padding: 0;
		max-width: 100%;
		height: 100%;
	}
	.description {
		display: inline-block;
		vertical-align: top;

		span {
			display: block;
		}

		a {
			display: inline-block;
			margin: 1em 1em 0 0;
			text-transform: lowercase;
			color: $gray-color;
			text-decoration: underline;
		}

		.product {
			font-weight: bold;
			margin-bottom: 0.5em;
			line-height: 1;
		}
	}

	.quantity {
		@include rem(1);
		@include appearance(none);
		-ms-appearance: none;
		appearance: none;
		background: transparent image-url("icons/select-arrow.jpg") no-repeat center right;
		color: $text-color;
		padding: 0.2em 0.5em;
		width: 4em;
		margin-top: 0.4em;
	}

	.circle-wrap {
		display: block;
		width: 40px;
		height: 40px;
		padding: 8px;
		@include border-radius(10em);
		border: 1px solid $gray-color;

		.color-big {
			display: block;
			@extend %hide-text;
			width: 100%;
			height: 100%;
			@include border-radius(10em);
		}

		.size {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			vertical-align: top;
			text-transform: lowercase;
		}
	}

	.price {
		display: block;
		padding-top: 0.5em;
	}
}
// Cart details END

// Payment details
.payment-details {
	display: block;
	width: 100%;
	padding: 1em 0 2em;
	border-bottom: 1px solid $border-color;

	span {
		display: block;
	}

	.text-left, .text-right {
		display: inline-block;
		width: 49%;
	}
}

.vaucher {

	a {
		display: block;
		text-transform: lowercase;
		color: $gray-color;
		text-decoration: underline;
	}
}

.total {
	@include rem(1.5);
}
// Payment details END

.checkout {
	display: block;
	width: 100%;
	padding: 1em 0 2em;
	border-bottom: 1px solid $border-color;

	span {
		display: block;
	}

	a {
		color: $background-color;
	}

	img {
		display: inline-block;
		margin-left: 0.5em;
	}

	.big-link {
		display: block;
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}

	.col-5-9, .cards {
		padding-top: 0.8em;
	}
}

.arrow-down {
	right: 1em;
	top: 100%;
}
// Cart wrapper elements END