/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

.navigation-trigger {
	display: none;
	cursor: pointer;
	float: left;
	padding: 0.25em 0;

	@include breakpoint(phone) {
		display: inline-block;
	}
}

.mobile-navigation {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $background-color;
	text-align: left;
	@include translate(-100%, 0);

	* {
		text-transform: lowercase;
	}

	nav {
		display: inline-block;
		width: 80%;

		* {
			display: block;
			border-bottom: 1px solid $border-color;
			padding: 0.8em 0 0.8em 1em;
		}
	}
	
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	span {
		cursor: pointer;
	}
	
	// Image fixes
	.glass {
		display: inline-block;
		border: none;
		padding: 0;
		vertical-align: middle;
	}

	.heart {
		display: inline-block;
		border: none;
		vertical-align: middle;
	}

	.flag-nl {
		display: inline-block;
		border: none;
		vertical-align: middle;
	}

	.arrow-down-b {
		display: inline-block;
		border: none;
		padding: 0;
		float: right;
		margin-right: 1em;
		margin-top: 0.5em;
	}

	.close {
		display: none;
		border: none;
		padding: 0;
		float: right;
		margin-right: 1em;
		margin-top: 0.5em;
	}

	.user {
		display: inline-block;
		padding: 0;
		border: none;
	}
	// Image fixes END

	.nav-extend {
		@extend %clearfix;
	}

	.search-trigger {
		float: none;
		width: 100%;
		height: auto;
	}

	.login {
		margin: 0;
	}

	#wishlist-count {
		display: inline-block;
		padding: 0;
		border: 0;
	}

	.navigation-trigger {
		float: none;
		vertical-align: top;
		height: 100%;
		border-left: 1px solid $border-color;
		padding: 1em 0 0 1em;
		width: 18%;
	}

	.nav-dropdown {
		display: none;
		border: none;
		padding: 0;
	}

	.drop-wrap {
		border: none;
		padding: 0;
		margin: 0;
	}
}