#slider {
  @extend %flexslider-font;
  margin: 0 auto;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  height: 100%;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.slides {
  height: 100%;

  a {
    display: block;
    width: 100%;
    height: 100%;
    @include translate(0, -20%);
  }
} 

.flex-caption {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  @include translate(0, -50%);
  text-align: center;
  color: #FFF;
  padding: 1%;
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  @include transition(all 0.3s ease);
  @include text-shadow(1px 1px 1px black(0.2));
}

.slide-heading {
  @include rem(6);
  @extend %main-font-bold;
  display: block;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.1em;
}

.slide-sub-heading {
  display: block;
  @include rem(1.5);
  line-height: 1;
  @extend %main-font-light;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
  // max-height: $max-height;
  /* SAME AS FLEX-VEIWPORT HEIGHT!!! */
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  height: $max-height;
  @include transition(all 1s ease);

  @include breakpoint(1024px) {
    height: 450px;
  }

  @include breakpoint(640px) {
    height: 350px;
  }

  @include breakpoint(500px) {
    height: 250px;
  }
}

.loading .flex-viewport {
  height: $max-height;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  *height: 0;

  a{
    text-decoration: none;
    display: block;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: $background-color;
    background: $text-color;
    text-align: center;
    line-height: 1;
    padding: 1em 1em 1em 0.5em;
    @include transition(all 0.3s ease);

    &:hover {
      background: $text-color-dark;
    }

    @include breakpoint(phone) {
      display: none !important;
    }
  }
}

.flex-prev:before {
  // margin-top: 10px;
}

.flex-next:before {
  // margin-top: 10px;
}

.flex-direction-nav .flex-prev {
  left: -50px;
}

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

.flexslider:hover .flex-prev {
  opacity: 1;
  left: 0;
}

.flexslider:hover .flex-next {
  opacity: 1;
  right: 0;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a:before {
  @extend .fa;
  @extend .fa-2x;
  @extend .fa-angle-left;
}

.flex-direction-nav a.flex-next:before {
  @extend .fa-angle-right;
}

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;

  &:before {
    @extend %flexslider-font;
    font-size: 20px;
    display: inline-block;
    content: '\f004';
  }

  &:hover {
    opacity: 1;
  }
}

.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 2em;
  text-align: center;

  li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;

    a{
      width: 11px;
      height: 11px;
      display: block;
      background: #FFF;
      background: rgba(172, 172, 176, 0.5);
      cursor: pointer;
      text-indent: -9999px;
      @include border-radius(20px);
      @include box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.3));

      &:hover{
        background: #ACACB0;
        background: rgba(255, 255, 255, 1);
      }
    }
  }
}

.flex-control-paging li a.flex-active {
  background: #FFF;
  background: rgba(255, 255, 255, 1);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;

  li {
    width: 25%;
    float: left;
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .flex-active {
    opacity: 1;
    cursor: default;
  }
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0px;
  }
}
/* SLIDER END */