/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/

// Top header items
.login {
	margin-left: 1em;
	&:hover {
		color: #000;
	}
}

.site-title {
	display: inline-block;
	position: absolute;
	left: 50%;
	@include translate(-50%,0);
	@extend %main-font-medium;

	h1 {
		margin: 0;
		padding: 0;
		@include rem(1.8);
		font-weight: 400;
		text-transform: lowercase;
	}

	#date {
		display: none;
		margin: 0;
		padding: 0;
		@include rem(1.8);
		font-weight: 400;
		text-transform: lowercase;
	}
}

.quick-links {
	display: inline-block;

	& a:hover {
		color: #000;
	}

	#favorite {
		display: inline-block;
		margin-right: 0.5em;

		@include breakpoint(phone) {
			display: none;
		}
	}

	#shop {
		display: inline-block;
		padding-top: 2px;
	}
}
// Top header items END